.highlight .c {
  color: #998;
  font-style: italic;
}
.highlight .err {
  color: #a61717;
  background-color: #e3d2d2;
}
.highlight .k {
  font-weight: bold;
}
.highlight .o {
  font-weight: bold;
}
.highlight .cm {
  color: #998;
  font-style: italic;
}
.highlight .cp {
  color: #999;
  font-weight: bold;
}
.highlight .c1 {
  color: #998;
  font-style: italic;
}
.highlight .cs {
  color: #999;
  font-weight: bold;
  font-style: italic;
}
.highlight .gd {
  color: #000;
  background-color: #fdd;
}
.highlight .gd .x {
  color: #000;
  background-color: #faa;
}
.highlight .ge {
  font-style: italic;
}
.highlight .gr {
  color: #a00;
}
.highlight .gh {
  color: #999;
}
.highlight .gi {
  color: #000;
  background-color: #dfd;
}
.highlight .gi .x {
  color: #000;
  background-color: #afa;
}
.highlight .go {
  color: #888;
}
.highlight .gp {
  color: #555;
}
.highlight .gs {
  font-weight: bold;
}
.highlight .gu {
  color: #aaa;
}
.highlight .gt {
  color: #a00;
}
.highlight .kc {
  font-weight: bold;
}
.highlight .kd {
  font-weight: bold;
}
.highlight .kp {
  font-weight: bold;
}
.highlight .kr {
  font-weight: bold;
}
.highlight .kt {
  color: #458;
  font-weight: bold;
}
.highlight .m {
  color: #099;
}
.highlight .s {
  color: #d14;
}
.highlight .na {
  color: #008080;
}
.highlight .nb {
  color: #0086B3;
}
.highlight .nc {
  color: #458;
  font-weight: bold;
}
.highlight .no {
  color: #008080;
}
.highlight .ni {
  color: #800080;
}
.highlight .ne {
  color: #900;
  font-weight: bold;
}
.highlight .nf {
  color: #900;
  font-weight: bold;
}
.highlight .nn {
  color: #555;
}
.highlight .nt {
  color: #000080;
}
.highlight .nv {
  color: #008080;
}
.highlight .ow {
  font-weight: bold;
}
.highlight .w {
  color: #bbb;
}
.highlight .mf {
  color: #099;
}
.highlight .mh {
  color: #099;
}
.highlight .mi {
  color: #099;
}
.highlight .mo {
  color: #099;
}
.highlight .sb {
  color: #d14;
}
.highlight .sc {
  color: #d14;
}
.highlight .sd {
  color: #d14;
}
.highlight .s2 {
  color: #d14;
}
.highlight .se {
  color: #d14;
}
.highlight .sh {
  color: #d14;
}
.highlight .si {
  color: #d14;
}
.highlight .sx {
  color: #d14;
}
.highlight .sr {
  color: #009926;
}
.highlight .s1 {
  color: #d14;
}
.highlight .ss {
  color: #990073;
}
.highlight .bp {
  color: #999;
}
.highlight .vc {
  color: #008080;
}
.highlight .vg {
  color: #008080;
}
.highlight .vi {
  color: #008080;
}
.highlight .il {
  color: #099;
}

html {
  font-size: 18px;
}

/**
 * Reset some basic elements
 */
body, h1, h2, h3, h4, h5, h6,
p, blockquote, pre, hr,
dl, dd, ol, ul, figure {
  margin: 0;
  padding: 0;
}

/**
 * Basic styling
 */
body {
  font: 400 18px/1.5 -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", "Segoe UI Emoji", "Segoe UI Symbol", "Apple Color Emoji", Roboto, Helvetica, Arial, sans-serif;
  color: #111111;
  background-color: #fdfdfd;
  -webkit-text-size-adjust: 100%;
  -webkit-font-feature-settings: "kern" 1;
  -moz-font-feature-settings: "kern" 1;
  -o-font-feature-settings: "kern" 1;
  font-feature-settings: "kern" 1;
  font-kerning: normal;
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  overflow-wrap: break-word;
}

/**
 * Set `margin-bottom` to maintain vertical rhythm
 */
h1, h2, h3, h4, h5, h6,
p, blockquote, pre,
ul, ol, dl, figure,
.highlight {
  margin-bottom: 15px;
}

hr {
  margin-top: 30px;
  margin-bottom: 30px;
}

/**
 * `main` element
 */
main {
  display: block; /* Default value of `display` of `main` element is 'inline' in IE 11. */
}

/**
 * Images
 */
img {
  max-width: 100%;
  vertical-align: middle;
}

/**
 * Figures
 */
figure > img {
  display: block;
}

figcaption {
  font-size: 15.75px;
}

/**
 * Lists
 */
ul, ol {
  margin-left: 30px;
}

li > ul,
li > ol {
  margin-bottom: 0;
}

/**
 * Headings
 */
h1, h2, h3, h4, h5, h6 {
  font-weight: 400;
}

/**
 * Links
 */
a {
  color: #2a7ae2;
  text-decoration: none;
}
a:visited {
  color: rgb(22.9483471074, 86.2541322314, 168.5516528926);
}
a:hover {
  color: #111111;
  text-decoration: underline;
}
.social-media-list a:hover, .pagination a:hover {
  text-decoration: none;
}
.social-media-list a:hover .username, .pagination a:hover .username {
  text-decoration: underline;
}

/**
 * Blockquotes
 */
blockquote {
  color: #828282;
  border-left: 4px solid #e8e8e8;
  padding-left: 15px;
  font-size: 1.125rem;
  font-style: italic;
}
blockquote > :last-child {
  margin-bottom: 0;
}
blockquote i, blockquote em {
  font-style: normal;
}

/**
 * Code formatting
 */
pre,
code {
  font-family: "Menlo", "Inconsolata", "Consolas", "Roboto Mono", "Ubuntu Mono", "Liberation Mono", "Courier New", monospace;
  font-size: 0.9375em;
  border: 1px solid #e8e8e8;
  border-radius: 3px;
  background-color: #eeeeff;
}

code {
  padding: 1px 5px;
}

pre {
  padding: 8px 12px;
  overflow-x: auto;
}
pre > code {
  border: 0;
  padding-right: 0;
  padding-left: 0;
}

.highlight {
  border-radius: 3px;
  background: #eeeeff;
}
.highlighter-rouge .highlight {
  background: #eeeeff;
}

/**
 * Wrapper
 */
.wrapper {
  max-width: calc(1200px - (30px));
  margin-right: auto;
  margin-left: auto;
  padding-right: 15px;
  padding-left: 15px;
}
@media screen and (min-width: 800px) {
  .wrapper {
    max-width: calc(1200px - 30px * 2);
    padding-right: 30px;
    padding-left: 30px;
  }
}

/**
 * Clearfix
 */
.wrapper:after {
  content: "";
  display: table;
  clear: both;
}

/**
 * Icons
 */
.orange {
  color: #f66a0a;
}

.grey {
  color: #828282;
}

.svg-icon {
  width: 1.25em;
  height: 1.25em;
  display: inline-block;
  fill: currentColor;
  vertical-align: text-bottom;
  overflow: visible;
}

/**
 * Tables
 */
table {
  margin-bottom: 30px;
  width: 100%;
  text-align: left;
  color: rgb(62.9, 62.9, 62.9);
  border-collapse: collapse;
  border: 1px solid #e8e8e8;
}
table tr:nth-child(even) {
  background-color: rgb(247.3, 247.3, 247.3);
}
table th, table td {
  padding: 10px 15px;
}
table th {
  background-color: rgb(239.65, 239.65, 239.65);
  border: 1px solid rgb(224.35, 224.35, 224.35);
}
table td {
  border: 1px solid #e8e8e8;
}
@media screen and (max-width: 800px) {
  table {
    display: block;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
    -ms-overflow-style: -ms-autohiding-scrollbar;
  }
}

/**
 * Site header
 */
.site-header {
  border-top: 5px solid #fff;
  border-bottom: 2px solid #e8e8e8;
  min-height: 55.95px;
  line-height: 60.75px;
  position: relative;
}

.site-title {
  font-size: 1.625rem;
  font-weight: 300;
  letter-spacing: -1px;
  margin-bottom: 0px;
  float: left;
}
@media screen and (max-width: 600px) {
  .site-title {
    padding-right: 45px;
  }
}
.site-title, .site-title:visited {
  color: rgb(66.25, 66.25, 66.25);
}

.site-nav {
  position: absolute;
  top: 9px;
  right: 15px;
  background-color: #fdfdfd;
  border: 1px solid #e8e8e8;
  border-radius: 5px;
  text-align: right;
}
.site-nav .nav-trigger {
  display: none;
}
.site-nav .menu-icon {
  float: right;
  width: 36px;
  height: 26px;
  line-height: 0;
  padding-top: 10px;
  text-align: center;
}
.site-nav .menu-icon > svg path {
  fill: rgb(66.25, 66.25, 66.25);
}
.site-nav label[for=nav-trigger] {
  display: block;
  float: right;
  width: 36px;
  height: 36px;
  z-index: 2;
  cursor: pointer;
}
.site-nav input ~ .trigger {
  clear: both;
  display: none;
}
.site-nav input:checked ~ .trigger {
  display: block;
  padding-bottom: 5px;
}
.site-nav .page-link {
  color: #111111;
  line-height: 1.5;
  display: block;
  padding: 5px 10px;
  margin-left: 20px;
}
.site-nav .page-link:not(:last-child) {
  margin-right: 0;
}
@media screen and (min-width: 600px) {
  .site-nav {
    position: static;
    float: right;
    border: none;
    background-color: inherit;
  }
  .site-nav label[for=nav-trigger] {
    display: none;
  }
  .site-nav .menu-icon {
    display: none;
  }
  .site-nav input ~ .trigger {
    display: block;
  }
  .site-nav .page-link {
    display: inline;
    padding: 0;
    margin-left: auto;
  }
  .site-nav .page-link:not(:last-child) {
    margin-right: 20px;
  }
}

/**
 * Site footer
 */
.site-footer {
  border-top: 2px solid #831e8e;
  padding: 30px 0;
  background-color: #F5F5F5;
}

.footer-heading {
  font-size: 1.125rem;
  margin-bottom: 15px;
}

.feed-subscribe .svg-icon {
  padding: 5px 5px 2px 0;
}

.contact-list,
.social-media-list,
.pagination {
  list-style: none;
  margin-left: 0;
}

.footer-col-wrapper,
.social-links {
  font-size: 0.9375rem;
  color: #828282;
}

.footer-col {
  margin-bottom: 15px;
}

.footer-col-1 {
  width: 35%;
}

.footer-col-2 {
  width: 65%;
}

@media screen and (min-width: 800px) {
  .footer-col-1 {
    width: 35%;
  }
  .footer-col-2 {
    width: 65%;
  }
}
@media screen and (min-width: 600px) {
  .footer-col-wrapper {
    display: flex;
  }
  .footer-col {
    width: calc(100% - 30px / 2);
    padding: 0 15px;
  }
  .footer-col:first-child {
    padding-right: 15px;
    padding-left: 0;
  }
  .footer-col:last-child {
    padding-right: 0;
    padding-left: 15px;
  }
}
/**
 * Page content
 */
.page-content {
  padding: 30px 0;
  flex: 1 0 auto;
}

.page-heading {
  font-size: 2rem;
}

.post-list-heading {
  font-size: 1.75rem;
}

.post-list {
  margin-left: 0;
  list-style: none;
}
.post-list > li {
  margin-bottom: 30px;
}

.post-meta {
  font-size: 15.75px;
  color: #828282;
}

.post-link {
  display: block;
  font-size: 1.5rem;
}

/**
 * Posts
 */
.post-header {
  margin-bottom: 30px;
}

.post-title,
.post-content h1 {
  font-size: 2.625rem;
  letter-spacing: -1px;
  line-height: 1.15;
}
@media screen and (min-width: 800px) {
  .post-title,
  .post-content h1 {
    font-size: 2.625rem;
  }
}

.post-content {
  margin-bottom: 30px;
}
.post-content h1, .post-content h2, .post-content h3, .post-content h4, .post-content h5, .post-content h6 {
  margin-top: 30px;
}
.post-content h2 {
  font-size: 1.75rem;
}
@media screen and (min-width: 800px) {
  .post-content h2 {
    font-size: 2rem;
  }
}
.post-content h3 {
  font-size: 1.375rem;
}
@media screen and (min-width: 800px) {
  .post-content h3 {
    font-size: 1.625rem;
  }
}
.post-content h4 {
  font-size: 1.25rem;
}
.post-content h5 {
  font-size: 1.125rem;
}
.post-content h6 {
  font-size: 1.0625rem;
}

.social-media-list, .pagination {
  display: table;
  margin: 0 auto;
}
.social-media-list li, .pagination li {
  float: left;
  margin: 5px 10px 5px 0;
}
.social-media-list li:last-of-type, .pagination li:last-of-type {
  margin-right: 0;
}
.social-media-list li a, .pagination li a {
  display: block;
  padding: 10px 12px;
  border: 1px solid #e8e8e8;
}
.social-media-list li a:hover, .pagination li a:hover {
  border-color: rgb(219.25, 219.25, 219.25);
}

/**
 * Pagination navbar
 */
.pagination {
  margin-bottom: 30px;
}
.pagination li a, .pagination li div {
  min-width: 41px;
  text-align: center;
  box-sizing: border-box;
}
.pagination li div {
  display: block;
  padding: 7.5px;
  border: 1px solid transparent;
}
.pagination li div.pager-edge {
  color: #e8e8e8;
  border: 1px dashed;
}

/**
 * Grid helpers
 */
@media screen and (min-width: 800px) {
  .one-half {
    width: calc(50% - 30px / 2);
  }
}
.site-nav {
  background-color: #fff;
  z-index: 100;
}

h1 {
  font-size: 32px;
  font-weight: bold;
  margin-bottom: 30px;
}

h2 {
  font-size: 28px;
  font-weight: bold;
}

h3 {
  font-size: 24px;
  font-weight: bold;
}

h4 {
  font-size: 20px;
  font-weight: bold;
}

h5 {
  font-size: 18px;
  font-weight: bold;
}

.site-nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.nav-item {
  display: inline-block;
  position: relative;
  padding: 6px 6px;
}

.nav-item a {
  color: #000;
  text-decoration: none;
}

.nav-item:hover .dropdown {
  display: block;
}

.dropdown {
  display: none;
  position: absolute;
  background-color: #fff;
  list-style: none;
  padding: 0;
  margin: 0;
  top: 100%;
  left: 0;
  border: #123f9f;
  z-index: 9900;
  pointer-events: auto;
  border-block: 3px solid #8c2d92;
}

.dropdown-item a {
  color: #000;
  padding: 0px 20px;
  display: block;
  text-align: left;
  max-width: 250px;
  width: auto;
  line-height: 30px; /* Match line-height to height */
  height: 30px;
  white-space: nowrap;
  align-items: center; /* Vertically centers the text */
  border-color: #123f9f;
}

.dropdown-item a:hover {
  background-color: #8c2d92;
  color: #fff;
}

.arrow {
  float: right;
  padding-left: 3px;
  padding-right: 3px;
  vertical-align: middle;
  display: inline-block;
  cursor: pointer;
  color: #8c2d92;
  transform: translateY(-1.5px) rotate(180deg);
  transition: transform 0.4s ease;
}

.nav-item:hover .arrow {
  transform: rotate(0deg) translateY(1.5px); /* Rotate the arrow 180 degrees */
}

.background-image {
  position: relative;
  background-image: url("/assets/image/title_background.png"); /* Replace with your image path */
  background-size: cover;
  background-position: center;
  height: 50px; /* Adjust height as needed */
  width: 100%;
}

.overlay-text {
  position: absolute;
  top: 50%; /* Adjust vertical position */
  left: 50%; /* Adjust horizontal position */
  transform: translate(-50%, -50%); /* Center the text */
  color: #123f9f; /* Text color for contrast */
  font-size: 24px; /* Adjust font size as needed */
  font-weight: bold;
  text-align: left;
}

.effect1 {
  -webkit-box-shadow: 0 10px 6px -6px #777;
  -moz-box-shadow: 0 10px 6px -6px #777;
  box-shadow: 0 10px 6px -6px #777;
}

.announcement {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  background: linear-gradient(to right, #4dacd5, #65458d);
  width: 100%;
  border-radius: 8px;
}

.announcement h2 {
  font-size: 28px;
  font-weight: bold;
  margin-left: 20px;
  color: #fff;
  text-align: left;
}

.announcement p {
  background: #4dacd5;
  padding: 20px 20px;
  text-align: left;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  font-size: 18px;
  font-weight: bold;
  margin-top: 10px;
  margin-bottom: 40px;
  color: #edf1f4;
  width: auto;
}

.announcement p:hover {
  color: #6e2e7f;
  text-decoration: none;
}

.announcement a:hover {
  text-decoration: none;
}

@media (max-width: 768px) {
  body {
    font-size: 16px;
  }
  .container {
    padding: 10px;
  }
  .profile-content {
    flex-direction: column;
  }
  .profile-photo {
    flex: 1;
    margin-bottom: 2rem;
  }
}
.profile-container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0rem;
  margin-bottom: 40pt;
}

.profile-header h1 {
  font-size: 3rem;
  font-weight: bold;
  text-align: center;
  margin-bottom: 2rem;
  color: #2c3e50;
}

.profile-content {
  display: flex;
  gap: 2rem;
}

.profile-photo {
  flex: 0 0 250px;
}

.profile-photo img {
  width: 100%;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.profile-info {
  flex: 1;
}

.profile-info h2 {
  font-size: 2rem;
  font-weight: bold;
  color: #13409f;
  margin-bottom: 0rem;
  margin-top: -1rem;
}

.profile-info h2 a {
  color: inherit;
  text-decoration: none;
}

.affiliation {
  font-size: 1.5rem;
  color: #000000;
  margin-bottom: 0.25rem;
}

.honors p {
  font-size: 1.1rem;
  line-height: 1.6;
  margin-bottom: 1rem;
}

.achievements h3,
.research h3,
.interests h3,
.awards h3,
.mission h3 {
  font-size: 1.5rem;
  color: #2c3e50;
  margin: 1.5rem 0 1rem;
}

.achievements ul,
.research ul,
.awards ul {
  list-style: disc;
  padding-left: 2rem;
  margin-bottom: 1.5rem;
}

.achievements li,
.research li,
.awards li {
  margin-bottom: 0.5rem;
  line-height: 1.6;
}

.mission p {
  font-size: 1.1rem;
  line-height: 1.6;
  margin-bottom: 2rem;
}

.scrollable {
  width: auto; /* Set a fixed width */
  height: 280px; /* Set a fixed height */
  border: 0px solid #ccc; /* Optional border */
  overflow-y: scroll; /* Adds vertical scroll */
  padding: 10px;
}

.social-icons {
  display: flex;
  gap: 10px;
}

.social-icons a {
  display: inline-block;
  width: 40px;
  height: 40px;
}

.social-icons img {
  width: 100%;
  height: auto;
}

/*# sourceMappingURL=style.css.map */